.header {
    padding: 60px;
    text-align: center;
    background-color: brown;
    font-size: 20px;
}

.main {
    display: flex;
    gap: 3em;
    margin: 10px;
    text-align: center;
    
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: blue;
  text-align: center;
}

.box1 {
    background-color: cadetblue;
    height: 200px;
    width: 200px;
}
.box2 {
    background-color: darkgoldenrod;
    height: 200px;
    width: 200px;
}
.box3 {
    background-color: darkgreen;
    height: 200px;
    width: 200px;
}